@model IEnumerable<WebApi.Entities.Course>

@{
    ViewBag.Title = "Courses";

    @if (User.Identity.IsAuthenticated)
    {
        Layout = "~/Views/Shared/_SignInLayout.cshtml";
    }
    @if (!User.Identity.IsAuthenticated)
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
}

<div id="coursesPage">

    <h2>Courses</h2>

    <p>
        @if (User.Identity.IsAuthenticated)
        {
            @Html.ActionLink("Create New", "Create")
        }
    </p>

    <table id="CoursesTable" width="100%">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreditHours)
                </th>

                <th>
                    Action
                </th>


            </tr>
        </thead>
    </table>

    <div class="push"></div>
</div>

@if (User.Identity.IsAuthenticated)
{
    <script>

        var target = [0];

    </script>

}

@if (!User.Identity.IsAuthenticated)
{
    <script>

        var target = [0, 3];

    </script>

}

@if (User.Identity.IsAuthenticated)
{
    <script src="~/js/SideMenu.js"></script>

    <script>
        $(document).ready(link2);
    </script>
}

<script type="text/javascript" src="~/js/CoursesDatatable.js"></script>