<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/lib/twitter-bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/StyleSheet.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="~/lib/jquery/jquery.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.css">
</head>

<body>
    <header>
        <div id="header_signIn">

            <div id="menuBtn" class="menuBtn" onclick="openMenu()"><i class="fa fa-bars" aria-hidden="true" style="font-size: 36px"></i></div>

            <div id="sidemenu" class="sidemenu">
                <a href="~/Home/Index" id="navLink1"><i class="fa fa-home" aria-hidden="true" style="font-size: 24px"></i> Home</a>
                <a href="~/Courses/Index" id="navLink2"><i class="fa fa-book" aria-hidden="true" style="font-size: 24px"></i> Courses</a>
                <a href="~/Students/Index" id="navLink3"><i class="fa fa-graduation-cap" aria-hidden="true" style="font-size: 24px"></i> Students</a>
                <a href="~/Teachers/Index" id="navLink4"><i class="fa fa-users" aria-hidden="true" style="font-size: 24px"></i> Teachers</a>
                <a href="#" class="closeBtn" onclick="closeMenu()"><i class="fa fa-times" aria-hidden="true" style="font-size: 36px"></i></a>
            </div>

            <a href="~/Home/Index">
                <img src="~/images/schoolLogo.png" alt="school building with the word school written on it" id="schoolLogo" />
            </a>

            <a class="btn btn-outline-primary" id="signOutBtn" href="~/SignIn/SignOut">Sign out</a>

        </div>

    </header>
    
        @RenderBody()
    
    <footer>
        <p>Copyright &copy; <script>document.write(new Date().getFullYear())</script>, School</p>
    </footer>
</body>

</html>
 


